---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Rafael Vidal">
	<main>
		This is the about page
		<ul>
			<li class="list-disc">Software Engineer</li>
			<li class="list-disc">Consultant</li>
		</ul>

		<div class="m-4 border-2 p-4">
			<h2>Languages</h2>
			<ul>
				<li class="list-disc">PHP</li>
				<li class="list-disc">Javacript</li>
			</ul>
		</div>

		<div class="m-4 border-2 p-4">
			<h2>Frameworks</h2>
			<ul>
				<li class="list-disc">Laravel</li>
				<li class="list-disc">Vue / Nuxt</li>
				<li class="list-disc">React / Next</li>
				<li class="list-disc">React Native</li>
			</ul>
		</div>
	</main>
</Layout>
