---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact">
	<main>
		<div class="mb-4"><p>My preferred contact methods:</p></div>
		<div class="block">
			<a
				href="https://www.linkedin.com/in/rafvidal/"
				class="p-3 bg-gray-700 hover:bg-gray-600"
				>Linked-In</a
			>
			<span class="mr-3"></span>
			<a
				href="https://github.com/rafiusks"
				class="p-3 bg-gray-700 hover:bg-gray-600"
				>Github</a
			>
		</div>
	</main>
</Layout>