---
import Layout from "../layouts/Layout.astro"
---

<Layout title="Projects">
	<main>
		Ongoing projects:
		<ul>
			<li><a href="//goodest.pet">Goodest.pet</a> - Pet Health Tool SaaS</li>
			<li><a href="//xgp.gg">xgp.gg</a> - Gamepass catalogue</li>
			<li><a href="//amrap.me">amrap.me</a> - Crossfit / fitness tracker</li>
		</ul>
	</main>
</Layout>
