---
interface Props {
	text: string;
	position?: "top" | "bottom" | "left" | "right";
}

const { text, position = "top" } = Astro.props;
---

<div class="group relative inline-block">
  <slot />
  <span class:list={[
    "absolute hidden group-hover:inline-block bg-gray-900 text-white text-sm rounded-md px-2 py-1 z-10",
    "transition-opacity duration-300",
    position === 'top' && "bottom-full left-1/2 -translate-x-1/2 mb-2",
    position === 'bottom' && "top-full left-1/2 -translate-x-1/2 mt-2",
    position === 'left' && "right-full top-1/2 -translate-y-1/2 mr-2",
    position === 'right' && "left-full top-1/2 -translate-y-1/2 ml-2"
  ]}>
    {text}
  </span>
</div> 